{% extends 'base.html' %}

{% block content %}


    <div class="container">

      <!--暂时不需要主题头部
      <div class="blog-header">
        <h1 class="blog-title">The CExchange Blog</h1>
      </div>
      -->
      <!-- 临时用br隔开导航栏及标题 -->
      <br>
      <br>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">{{ article_detail.title }}</h2>
            <p class="blog-post-meta">{{ article_detail.last_modified_time|date:"Y年n月d日" }}   作者: <a href="#">{{ article_detail.author }}</a></p>

            <!--文章主体部分-->
            <p> {{ article_detail.body | safe}}</p>

          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

          <a class="btn btn-default btn-sm" href="{% url 'blog:index' %}" role="button">返回首页 &raquo;</a>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>主题分类</h4>
            {{ article_detail.category | safe }}
          </div>
          <div class="sidebar-module">
            <h4>其他文章</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
            </ol>

          </div>
          <div class="sidebar-module">
            <h4>友情链接</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com">GitHub</a></li>
              <li><a href="https://lukathis.github.io">Travis</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


{% endblock %}
