
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Homee instantly connects you with your personal designer who will design your room for free.">
        <meta name="keywords" content="interior,design,interior design,mobile app,mobile,app, furniture, homee, homee app, homeeapp">
        <meta property="og:title" content="Homee - The New Way to Furnish Your Space">
        <meta property="og:description" content="Homee instantly connects you with your personal designer who will design your room for free.">
        <meta property="og:image" content="https://s3-us-west-1.amazonaws.com/homeeapp.com/img/fb-image.png">
        <meta name="apple-itunes-app" content="app-id=1055467106">

        <title>Homee - The New Way to Furnish Your Space</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.9">
        <link href="css/font.css" rel="stylesheet" type="text/css" media="all">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link rel="shortcut icon" type="image/png" href="img/favicon.png"/ width="16px" height="16px">
    
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-71406790-1', 'auto');
          ga('send', 'pageview');
        </script>

        <script src="https://cdn.optimizely.com/js/6792450875.js"></script>

        <script type="text/javascript">
            setTimeout(function(){var a=document.createElement("script");
            var b=document.getElementsByTagName("script")[0];
            a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0049/7539.js?"+Math.floor(new Date().getTime()/3600000);
            a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
        </script>
    </head>
    <body>
        
        <div class="hide-mobile">

            <div class="nav-container">
                <a id="top"></a>
                <nav class="white">
                    <div class="nav-bar">
                        <div class="module left">
                            <a href="index.html">
                                <img class="logo logo-light" alt="Homee" src="img/logo-new.svg" />
                                <img class="logo logo-dark" alt="Homee" src="img/logo-new.svg" />
                            </a>
                        </div>
                        <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                            <i class="ti-menu"></i>
                        </div>
                        <div class="module-group right">
                            <div class="module left">
                                <ul class="menu">
                                    <li class="no-dropdown">
                                        <a href="index.html" alt="Home">
                                            Home
                                        </a>
                                    </li>
                                    <li class="no-dropdown">
                                    <a href="about.html">
                                        About
                                    </a>
                                   </li>
                                    <li class="no-dropdown">
                                        <a href="team.html" alt="About Us">
                                           Team
                                        </a>
                                        
                                    </li>
                                    <li class="no-dropdown">
                                        <a href="faq.html" alt="FAQ">
                                            FAQ
                                        </a>
                                    </li>
                                    <li class="no-dropdown">
                                        <a href="https://jobs.lever.co/homeeapp" target="blank">
                                            Jobs
                                        </a>    
                                    </li>
                                    <li class="no-dropdown">
                                        <a href="mailto:team@homeeapp.com">
                                            Contact
                                        </a>
                                    </li>

                                       <a class="btn btn-sm btn-filled" href="https://itunes.apple.com/us/app/homee-we-design-your-room/id1055467106?mt=8" target="_blank"><strong>Get the App</strong></a>
                                </ul>       
                            </div>
                            <!--end of menu module-->
                        </div>
                        <!--end of module group-->
                    </div>
                </nav>
            </div>

            <div class="main-container">
                <section class="cover fullscreen hero-image">
                    <div class="heading-container">
                        <h1 class="banner-header"><strong>The New Way To Furnish Your Space</strong></h1>
                        <h3>Instantly chat with your personal designer</h3>
                    </div>


                    <div class="download-container">
                        <a class="download-btn btn btn-lg btn-filled" href="https://itunes.apple.com/us/app/homee-we-design-your-room/id1055467106?mt=8" target="_blank"><strong>Get the App</strong></a>
                    </div>
                </section>

                <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4 class="uppercase mb64 mb-xs-40">IN THE PRESS</h4>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="logo-carousel">
                            <ul class="slides">
                                <li>
                                    <a href="https://techcrunch.com/2016/07/05/homee-raises-5m-from-founders-fund-and-tinder-ceo-to-help-you-furnish-your-place" target="blank">
                                        <img alt="techcrunch" src="img/p1.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://fortune.com/2016/07/06/homee-series-a/" target="blank">
                                        <img alt="fortune" src="img/p2.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://upstart.bizjournals.com/companies/startups/2016/07/08/homee-interior-design-startup.html" target="blank">
                                        <img alt="upstartbiz" src="img/p3.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.wsj.com/articles/interior-decorating-app-homee-grabs-5m-1467761660?mod=wsj_busweek" target="blank">
                                        <img alt="wsj" src="img/p4.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.digitaltrends.com/home/homee-interior-design/" target="blank">
                                        <img alt="digitaltrends" src="img/p5.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://www.architecturaldigest.com/story/how-to-rental-apartment-decorating-ideas" target="blank">
                                        <img alt="builtin" src="img/p6.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="http://domino.com/homee-app-for-interior-design" target="blank">
                                        <img alt="builtin" src="img/p7.png" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end of logo slider-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

                <section>
                    <div class="expland">
                        <div class="container">
                        <!-- <div class="center"> -->
                        <!-- <h2>How it Works</h2> -->
                        <!-- </div> -->

                            <div class="testimonials text-slider slider-arrow-controls">
                                <ul class="slides">
                                    <li>
                                        <div class="row v-align-children phone-preview-container">
                                            <div class="col-md-7 col-sm-6 text-center mb-xs-24">
                                                <img class="iphone-chat-image" alt="Screenshot" src="img/homee-chat.png" width="365px" height="617px"/>
                                            </div>
                                            <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
                                                <h2 class="subheader inset-subtext"><strong>Chat</strong></h2>
                                                <h4 class="inset-subtext">
                                                    It’s literally as easy as texting with a friend. We chat with you & help you find the right pieces for your space.
                                                </h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row v-align-children phone-preview-container">
                                            <div class="col-md-7 col-sm-6 text-center mb-xs-24">
                                                <img class="iphone-chat-image" alt="Screenshot" src="img/homee-visualize.png" width="365px" height="617px"/>
                                            </div>
                                            <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
                                                <h2 class="subheader inset-subtext"><strong>Visualize</strong></h2>
                                                <h4 class="inset-subtext">
                                                    No more guessing because we show you what everything will look like in your space through design boards & renders.
                                                </h4>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row v-align-children phone-preview-container">
                                            <div class="col-md-7 col-sm-6 text-center mb-xs-24">
                                                <img class="iphone-chat-image" alt="Screenshot" src="img/homee-shop.png" width="365px" height="617px"/>
                                            </div>
                                            <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
                                                <h2 class="subheader inset-subtext"><strong>Shop</strong></h2>
                                                <h4 class="inset-subtext">
                                                  Just click a button and we ship it all directly to you. Sit back and enjoy free shipping while your space comes together!
                                                </h4>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <!--end of container-->
                    </div>
                </section>

                <section class="image-bg pt120 pb120 pt-xs-80 pb-xs-80 designer-section">
                    <div class="right-push">
                        <div class="expland2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-6 text-center">
                                        <h2 class="uppercase"><strong>A real designer who understands you</strong></h2>
                                        <h4>
                                            "We care about making your life as easy as possible and on top of that we really love what we do. We are here to help you every step of the way."
                                        </h4>
                                    </div>
                                </div>
                                <!--end of row-->
                            </div>
                        </div>
                    </div><!--end of container-->

                    <div class="mobile-content">
                        <h2>A real designer who understands you</h2>
                        <h4>
                            "We care about making your life as easy as possible and on top of that we really love what we do. We are here to help you every step of the way."
                        </h4>
                    </div>
                </section>

                <section>
                    <div class="container">
                        <div class="expland3">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 col-sm-12 text-center mb80 mb-xs-24">
                                    <h2><strong>We Got You Covered</strong></h2>
                                </div>
                            </div>
                            <!--end of row-->
                            <div class="row">
                                <div class="col-sm-4 text-center">
                                    <div class="feature">
                                        <img alt="image" class="background-image" src="img/revisions.svg" width="200px" height="200px"/>
                                        <h4>Unlimited Options</h4>
                                        <h5 class="sub">
                                           If you don't love something at first, tell us and we will find you more options.
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <div class="feature">
                                        <img alt="image" class="background-image" src="img/pricematch.svg" width="200px" height="200px"/>
                                        <h4>Price Match</h4>
                                        <h5 class="sub">
                                          Found something cheaper somewhere else? Tell us and we will match the price!
                                        </h5> 
                                    </div>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <div class="feature">
                                        <img alt="image" class="background-image" src="img/couch.svg" width="200px" height="200px"/>
                                        <h4>Quality Products</h4>
                                        <h5 class="sub">
                                           We choose only the best products sourced from trusted manufacturers and retailers.
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <!--end of row-->
                        </div>
                    </div>
                    <!--end of container-->
                </section>

                <section class="image-bg pt120 pb120 pt-xs-80 pb-xs-80">
                    <div class="right-push">
                        <div class="expland2">
                           
                            <div class="background-image-holder">
                                <img alt="image" class="background-image" src="img/print3_big.jpg" />
                            </div>
                            
                            <div class="push-right">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-5 col-xs-offset-1">
                                            <h2 class="uppercase"><strong>Just need a few things?</strong></h2>
                                            <h4>Whether you need all new furniture or just some decor, we can help.</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                    </div>
                </section>

                <section class="bg-secondary">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 text-center">
                                <h3 class="mb64 uppercase">People <i class="ti-heart"></i> Homee</h3>
                                <div class="testimonials text-slider slider-arrow-controls">
                                    <ul class="slides">
                                        <li>
                                            <h5 class="sub">
                                                I just moved across the country and was overwhelmed! I decided to use homee to help me decorate my apartment on a budget. It made a usually stressful process completely stress free. Claire rocks and so does Homee! I can't imagine moving again without it.
                                            </h5>
                                            <div class="quote-author">
                                                <img alt="Avatar" src="img/avatar2.png" />
                                                <h6 class="uppercase">Jack Peirce</h6>
                                                <span>Bedroom</span>
                                            </div>
                                        </li>
                                        <li>
                                            <h5 class="sub">
                                               The app was the coolest thing. My designer was amazing & she was awesome in helping us redo our room. We would talk via the app like we were instant messaging. She's so fast in giving us ideas and different options to choose from & putting our design board together. I HIGHLY recommend using Homee! Trust me, you won't regret it.
                                            </h5>
                                            <div class="quote-author">
                                                <img alt="Avatar" src="img/avatar3.png" />
                                                <h6 class="uppercase">Jessica Smith</h6>
                                                <span>Living Room</span>
                                            </div>
                                        </li>
                                        <li>
                                            <h5 class="sub">
                                              I've designed my own rooms before but now that I'm a working mother I don't have time for new projects. Homee was able to get it done for me no hassle. They really paid attention to what I wanted and maintained really great communication.
                                            </h5>
                                            <div class="quote-author">
                                                <img alt="Avatar" src="img/avatar4.png" />
                                                <h6 class="uppercase">Nancy Levin</h6>
                                                <span>Kitchen</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </section>

                <section class="image-bg pt120 pb120 pt-xs-80 pb-xs-80">
                    <div class="right-push">
                        <div class="expland2">
                           
                            <div class="background-image-holder">
                                <img alt="image" class="background-image" src="img/sitback4_big.jpg" />
                            </div>
                            
                            <div class="push-right">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
                                            <h2 class="uppercase"><strong>Sit Back &amp; Relax</strong></h2>
                                            <h4>Enjoy handpicked furniture options and a design render of your space.</h4>
                                        </div>
                                    </div>
                                </div><!--end of row-->
                            </div>

                        </div>
                    </div><!--end of container-->
                </section>


                <section>
                    <div class="container">
                        <div class="expland4">
                        
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 col-sm-12 text-center mb80 mb-xs-24">
                                    <h2>We'll take care of it<strong></strong></h2>
                                </div>
                            </div>
                            <!--end of row-->
                            <div class="row">
                                <div class="col-sm-4 text-center">
                                    <div class="feature">
                                        <img alt="image" class="background-image" src="img/truck.svg" width="200px" height="200px"/>
                                        <h4>Delivered to You</h4>
                                        <h5 class="sub">
                                           Enjoy fast and free shipping directly to your doorstep within <br/> 2 - 14 business days.
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <div class="feature">
                                        <img alt="image" class="background-image" src="img/returns.svg" width="200px" height="200px"/>
                                        <h4>Seamless Returns</h4>
                                        <h5 class="sub">
                                         Don't like it? Our team will handle any returns for free within 30 days of delivery.
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-sm-4 text-center">
                                    <div class="feature">
                                        <img alt="image" class="background-image" src="img/girl.svg" width="200px" height="200px"/>
                                        <h4>Customer Care</h4>
                                        <h5 class="sub">
                                            Our dedicated team will be there to help you with anything you may need.
                                        </h5>
                                        <p class="lead"></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--end of row-->
                    </div>
                    <!--end of container-->
                </section>


                <section class="image-bg">
                    <div class="expland5">
                        <div class="background-image-holder">
                            <img alt="image" class="background-image" src="img/table.jpg" />
                        </div>
                    </div>
      
                    <div class="container">
                        <div class="col-sm-12 text-center">
                            <div class="bottom-btn">
                                <a class="btn btn-lg btn-filled" href="https://itunes.apple.com/us/app/homee-we-design-your-room/id1055467106?mt=8" target="_blank">Get the App</a>
                            </div>
                        </div>
                    </div>
                </section>
     
                <footer class="footer-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 footer-logo">
                                <img alt="Logo" class="logo" src="img/logo-new.svg" />
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="widget">
                                    <h6 class="title">Company</h6>
                                    <hr>
                                    <ul class="link-list recent-posts">
                                          <li>
                                        <a href="about.html" target="blank">About</a>
                                    </li>
                                        <li>
                                            <a href="team.html" target="blank">Team</a>
                                        </li>
                                        <li>
                                            <a href="privacypolicy.html" target="blank">Privacy Policy</a>
                                        </li>
                                         
                                        <li>
                                            <a href="https://jobs.lever.co/homeeapp" target="blank">Jobs</a>
                                        </li>

                                    </ul>
                                </div>
                                <!--end of widget-->
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="widget">
                                    <h6 class="title">Help</h6>
                                    <hr>
                                    <ul class="link-list recent-posts">
                                        <li>
                                            <a href="mailto:team@homeeapp.com">Contact Us</a>
                                        </li>
                                        <li>
                                            <a href="faq.html">FAQ</a>
                                        </li>
                                         <li>
                                        <a href="mailto:press@homeeapp.com">Press Inquiries</a>
                                    </li>
                                    <div class="twitter-feeds">
                                        <div class="tweets-feeds" data-widget-id="492085717044981760">
                                        </div>
                                    </div>
                                </div>
                                <!--end of widget-->
                            </div>
                            
                        <!--end of row-->
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="sub">&copy; Copyright 2016 Homee Interiors Inc.</span>
                            </div>
                            <div class="col-sm-6 text-right">
                                <ul class="list-inline social-list">
                                    <li>
                                        <a href="https://twitter.com/Homee_App" target="blank">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/Homee-App-203143006700158/?fref=ts" target="blank">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end of container-->
                </footer>
            </div>

        </div>

        <div class="only-mobile">

            <div class="nav-container">
                <a id="top"></a>
                <nav class="white">
                    <div class="nav-bar">
                        <div class="module left">
                            <a href="index.html">
                                <img class="logo logo-light" alt="Homee" src="img/logo-new.svg" />
                                <img class="logo logo-dark" alt="Homee" src="img/logo-new.svg" />
                            </a>
                        </div>
                        <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                            <i class="ti-menu"></i>
                        </div>
                        <div class="module-group right">
                            <div class="module left">
                                <ul class="menu">
                                    <li class="no-dropdown">
                                        <a href="index.html" alt="Home">
                                            Home
                                        </a>
                                    </li>
                                    <li class="no-dropdown">
                                    <a href="about.html">
                                        About
                                    </a>
                                   </li>
                                    <li class="no-dropdown">
                                        <a href="team.html" alt="About Us">
                                           Team
                                        </a>
                                        
                                    </li>
                                    <li class="no-dropdown">
                                        <a href="faq.html" alt="FAQ">
                                            FAQ
                                        </a>
                                    </li>
                                    <li class="no-dropdown">
                                        <a href="https://jobs.lever.co/homeeapp" target="blank">
                                            Jobs
                                        </a>    
                                    </li>
                                    <li class="no-dropdown">
                                        <a href="mailto:team@homeeapp.com">
                                            Contact
                                        </a>
                                    </li>
                                </ul>       
                            </div>
                            <!--end of menu module-->
                        </div>
                        <!--end of module group-->
                    </div>
                </nav>
            </div>

            <div class="download-btn-container">
                <a class="download-btn btn btn-lg btn-filled" href="https://itunes.apple.com/us/app/homee-we-design-your-room/id1055467106?mt=8" target="_blank">Get the App</a>
            </div>

            <section class="mobile-page">
                <div class="mobile-splash mobile-page-1">
                    <div class="mobile-nav-header">
                        <h1 class="banner-header"><strong>The New Way to Furnish Your Space</strong></h1>
                        <h3>Instantly chat with your personal designer for free</h3>
                    </div>
                </div>
            </section>

            <section class="mobile-page">
                <div class="mobile-splash mobile-page-2">
                    <h2>Chat with Your Personal Designer</h2>
                </div>
            </section>

            <section class="mobile-page">
                <div class="mobile-splash mobile-page-3">
                    <h2>Visualize Your Space Before You Buy</h2>
                </div>
            </section>  

            <section class="mobile-page">
                <div class="mobile-splash mobile-page-4">
                    <h2>Shop for Products <span style="display: block">You Love</span></h2>
                </div>
            </section>

            <footer class="mobile-footer">
                <div class="mobile-footer-links">
                    <h3>Company</h3>
                    <a href="about.html">About</a>
                    <a href="team.html">Team</a>
                    <a href="privacypolicy.html">Privacy Policy</a>
                    <a href="https://jobs.lever.co/homeeapp">Jobs</a>

                    <h3>Help</h3>
                    <a href="mailto:team@homeeapp.com">Contact Us</a>
                    <a href="faq.html">FAQ</a>
                    <a href="mailto:press@homeeapp.com">Press Inquiries</a>
                </div>
            </footer>

        </div>        

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/flickr.js"></script>
        <script src="js/flexslider.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/masonry.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/ytplayer.min.js"></script>
        <script src="js/countdown.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
